.spc__axis--x path {
  display: none;
}

.spc__line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.spc__point {
  stroke: none;
  fill: #28556E;
}

.spc__excluded {
  fill: gray;
}

.spc__limit {
  stroke: #22919E;
  stroke-dasharray: "5, 5";
}

.spc__MEAN_LINE {
  stroke: #22919E;
}

.spc__hoverLine {
  stroke: #BBB;
}

.spc__processLines {
  stroke: #DDD;
  fill: white;
}

.spc__underSignal_fill {
  fill: #1373ae;
}

.spc__overSignal_fill {
  fill: #c80926;
}

.spc__underSignal_stroke {
  stroke: #1373ae;
}

.spc__overSignal_stroke {
  stroke: #c80926;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  background: white;
  margin: 2%;
  width: 96%;
  height: 96%;
}

#spcContainer {
  width: 90%;
  height: 90%;
}
